<section id="search" class="search-wrap">
  <h1>Find Healthy Food</h1>
  <form action="/products/search" class="search-form">
    <i class="fas fa-search"></i>
    <input
      type="search"
      name="term"
      placeholder="Eggs, apples, chicken etc..."
    />
    <input type="submit" value="Search" />
  </form>
</section>